body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #555;
}

main {
    margin: 10px;
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 25px;
}

.search-text {
    padding: 8px;
    border: 1px solid #fff;
    flex: 1;
    border-radius: 2px;
}

.search-submit {
    width: 25%;
    height: 42px;
    color: #fff;
    font-weight: bold;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.painel {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 260px;
    margin-top: 25px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid #888;
}

.painel h2 {
    font-size: 22px;
}

.painel-containers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}

.painel-temperature div, .painel-wind div, .painel-temperature,.painel-wind  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel-temperature img, .painel-wind .wind-area {
    margin-top: 22px;
}

.wind-area {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    padding-left: 30px;
    padding-top: 30px;
    margin: auto;
}

.wind-point {
    width: 30px;
    height: 2px;
    background-color: #FFF;
    transform-origin: left;
}

.temperature, .wind {
    font-size: 22px;
    font-weight: bold;
}



